@model ParseViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form asp-controller="Parse" asp-action="ParseFile" method="post">
                <div>
                    <div class="form-group">
                        <label asp-for="DbName"></label>
                        <input type="text" asp-for="DbName" class="form-control" />
                        <span asp-validation-for="DbName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FilePath"></label>
                        <input type="file" asp-for="FilePath" class="form-control" />
                        <span asp-validation-for="FilePath"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsFirstRowTitle"></label>
                        <input type="checkbox" asp-for="IsFirstRowTitle" class="form-control" />
                        <span asp-validation-for="IsFirstRowTitle"></span>
                    </div>
                    @*<div class="btn-group">
                        <div class="radio">
                            <label asp-for="Separator"></label>
                            <input type="radio" name="optradio" asp-for="Separator" checked>
                        </div>
                        <div class="radio">
                            <label asp-for="Separator"></label>
                            <input type="radio" name="optradio" asp-for="Separator">
                        </div>
                        <div class="radio">
                            <label asp-for="Separator"></label>
                            <input type="radio" name="optradio" asp-for="Separator">
                        </div>
                    </div>*@
                    <div class="form-group">
                        <input type="submit" value="Parse" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Имя столбца</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TableTitle != null && Model.TableTitle.Count > 0)
                        {
                            foreach (var title in Model.TableTitle)
                            {
                                <tr>
                                    <td>@title</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Имя столбца</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TableTitle != null && Model.TableTitle.Count > 0)
                        {
                            foreach (var title in Model.TableTitle)
                            {
                                <tr>
                                    <td>@title</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>